<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 id="welcome">Happy Hour Business Manager</h1>
        </div>
    </div>
    {{!-- account options --}}
    <div class="row">
        <div class="col-md-12">
            <button id="add-business-btn" type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                data-target="#add-business-modal">Add Business</button>
            <button id="account-info-btn" type="button" class="btn btn-primary btn-lg btn-block">Account
                Information</button>
        </div>
    </div>
    {{!-- business jumbotron --}}
    <div class="jumbotron" id="business-jumbotron">
        <h1 class="display-4" id="b-name">Restaurant Name</h1>
        <a class="btn btn-primary btn-lg float-right" href="#" role="button" id="edit-business-button">Edit</a>
        <p class="lead" id="b-phone">(000)-000-0000</p>
        <hr class="my-4">
        <p id="b-address">Address</p>
        {{!-- operating hours table --}}
        <table class="table table-hover table-dark" id="hours-table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th class="day-of-the-week" scope="col">Sunday</th>
                    <th class="day-of-the-week" scope="col">Monday</th>
                    <th class="day-of-the-week" scope="col">Tuesday</th>
                    <th class="day-of-the-week" scope="col">Wednesday</th>
                    <th class="day-of-the-week" scope="col">Thursday</th>
                    <th class="day-of-the-week" scope="col">Friday</th>
                    <th class="day-of-the-week" scope="col">Saturday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Operating Hours</th>
                    <td class="op-hours">10:00am-10:00pm</td>
                    <td class="op-hours">10:00am-10:00pm</td>
                    <td class="op-hours">10:00am-10:00pm</td>
                    <td class="op-hours">10:00am-10:00pm</td>
                    <td class="op-hours">10:00am-10:00pm</td>
                    <td class="op-hours">10:00am-10:00pm</td>
                    <td class="op-hours">10:00am-10:00pm</td>
                </tr>
                <tr>
                    <th scope="row">Happy Hours</th>
                    <td class="happy-hours">4:00pm-6:00pm</td>
                    <td class="happy-hours">4:00pm-6:00pm</td>
                    <td class="happy-hours">4:00pm-6:00pm</td>
                    <td class="happy-hours">4:00pm-6:00pm</td>
                    <td class="happy-hours">4:00pm-6:00pm</td>
                    <td class="happy-hours">4:00pm-6:00pm</td>
                    <td class="happy-hours">4:00pm-6:00pm</td>
                </tr>
                <tr>
                    <th scope="row">Specials</th>
                    <td class="specials">Enter Special Here</td>
                    <td class="specials">Enter Special Here</td>
                    <td class="specials">Enter Special Here</td>
                    <td class="specials">Enter Special Here</td>
                    <td class="specials">Enter Special Here</td>
                    <td class="specials">Enter Special Here</td>
                    <td class="specials">Enter Special Here</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{!-- add business modal --}}
<div class="container">
  <div id="add-business-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">User Log-In</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          {{!-- insert the login form --}}
          <form>
            <div class="form-group">
              <label for="login-email">Email</label>
              <input type="email" class="form-control" id="login-email" aria-describedby="email-help"
                placeholder="Enter Email">
              <small id="email-help" class="form-text text-muted">We will never share your email with anyone
                else.</small>
            </div>
            <div class="form-group">
              <label for="login-password">Password</label>
              <input type="password" class="form-control" id="login-password" placeholder="Enter Password">
            </div>
            <button id="submit-login-btn" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="close-modal-btn">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>