<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12-lg">
        <p id="page-name">HAPPY HOUR</p>
      </div>
    </div>
    {{!-- login button --}}
    <div class="row">
      <div class="col-6-md">
        <h2 id="slogan">Your favorite place<br> for your favorite places</h2>
      </div>
      <div class="col-6-md" id="login-div">
        <h2 id="already-user">Already a user?</h2>
        <button id="login-btn" type="button" class="btn btn-info btn-lg" data-toggle="modal"
          data-target="#login-modal">LOGIN</button>
      </div>
    </div>
  </div>
  {{!-- sign-up form --}}
  <div class="container form-container">
    <form>
      {{!-- email entry --}}
      <div class="form-group row">
        <label for="signup-email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="signup-email" placeholder="Enter Your Email">
        </div>
      </div>
      {{!-- password entry --}}
      <div class="form-group row">
        <label for="signup-password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Choose Your Password">
        </div>
      </div>
      {{!-- username entry --}}
      <div class="form-group row">
        <label for="signup-username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <input type="username" class="form-control" id="signup-username" placeholder="Choose Your Username">
        </div>
      </div>
      {{!-- phone entry --}}
       <div class="form-group row">
        <label for="signup-phone" class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-10">
          <input type="phone" class="form-control" id="signup-phone" placeholder="(000)-000-0000">
        </div>
      </div>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Account Type</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="account-user" value="false" checked>
              <label class="form-check-label" for="account-user">
                User Account
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="account-business" value="true">
              <label class="form-check-label" for="account-business">
                Business Account
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary" id="signup-submit-btn">Sign in</button>
        </div>
      </div>
    </form>

  </div>
</div>
{{!-- MODAL --}}
<div class="container">
  <div id="login-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">User Log-In</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          {{!-- insert the login form --}}
          <form>
            <div class="form-group">
              <label for="login-email">Email</label>
              <input type="email" class="form-control" id="login-email" aria-describedby="email-help"
                placeholder="Enter Email">
              <small id="email-help" class="form-text text-muted">We will never share your email with anyone
                else.</small>
            </div>
            <div class="form-group">
              <label for="login-password">Password</label>
              <input type="password" class="form-control" id="login-password" placeholder="Enter Password">
            </div>
            <button id="submit-login-btn" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>
{{!-- end modal --}}
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>