<div id="home">
  <div class="container">
    <div class="jumbotron jumbotron-fluid" id="home-jumbotron">
      <div class="container">
        <img id="title-img" src="https://fontmeme.com/permalink/190312/c9b4ab2d8908d6730f2e38d1dd5062b1.png"
          alt="image of title name">
        <img id="mugs-img"
          src="https://i.etsystatic.com/13221305/d/il/cf9dce/1259963681/il_340x270.1259963681_q38e.jpg?version=0"
          alt="beer mugs">
      </div>
    </div>
  </div>
  <div class="container">
    <button id="login-btn" type="button" class="btn btn-info btn-lg" data-toggle="modal"
      data-target="#login-modal">LOGIN</button>
    <div class="row">
      <div class="col-sm-12">
        <button id="user-sign-up" type="button" class="btn btn-secondary btn-md sign-up">New User Sign-Up</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div id="login-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">User Log-In</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          {{!-- insert the login form --}}
          <form>
            <div class="form-group">
              <label for="login-email">Email</label>
              <input type="email" class="form-control" id="login-email" aria-describedby="email-help"
                placeholder="Enter Email">
              <small id="email-help" class="form-text text-muted">We will never share your email with anyone
                else.</small>
            </div>
            <div class="form-group">
              <label for="login-password">Password</label>
              <input type="password" class="form-control" id="login-password" placeholder="Enter Password">
            </div>
            <button id="submit-login-btn" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="close-modal-btn">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>