<div class="jumbotron jumbotron-fluid page-header">
    <div class="container">
        <h1 class="display-4 header-text">Happy Hour</h1>
        <p class="lead header-text" id="user-slogan">It's 5 o'clock somehwere.</p>
        <h1 id="username-display" class="display-4 username-text">{{username}}</h1>
        <a class="btn btn-primary btn-lg b-btn" href="#" role="button" id="user-edit-account" data-toggle="modal"
            data-target="#edit-account-modal">Edit Account</a>
        <a class="btn btn-primary btn-lg b-btn" href="/logout" role="button" id="user-logout-button">Logout</a>
    </div>
</div>
<div class="container" id="table-container">
    <table id="user-bar-list" class="table table-hover">
        <thead>
            <tr id="column-names">
                <th scope="col">Bar Name</th>
                <th scope="col">Opening Hours</th>
                <th scope="col">Special(s)</th>
            </tr>
        </thead>
        <tbody id="column-content">
            {{!-- The bars info will populate here --}}
        </tbody>
    </table>
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4" id="user-footer">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://github.com/jstone074/Project-2">DreamTeam</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>

{{!-- start edit account modal --}}
<div class="container">
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true" id="edit-account-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-header-txt">
                    <h4>Edit Your Account</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body modal-txt">
                    <form>
                        <div class="form-group row">
                            <label for="edit-email" class="col-sm-2 col-form-label">Edit Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="edit-email" placeholder="Enter New Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="edit-password" class="col-sm-2 col-form-label">Edit Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="edit-password"
                                    placeholder="Enter New Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="edit-username" class="col-sm-2 col-form-label">Edit Username</label>
                            <div class="col-sm-10">
                                <input type="username" class="form-control" id="edit-username"
                                    placeholder="Enter New Username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="edit-phone" class="col-sm-2 col-form-label">Edit Phone</label>
                            <div class="col-sm-10">
                                <input type="phone" class="form-control" id="edit-phone" placeholder="(000)-000-0000">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button id="update-account-btn" type="submit"
                                    class="btn btn-primary b-btn">Update</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default b-btn" data-dismiss="modal"
                                id="close-modal-btn">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(() => {
      getBars();
      function getBars() {
        $.get("/api/bars", data => {
          for (let i = 0; i < data.length; i++) {
            let newHours = $("<td>");
            newHours.append("<p> Sun:  " + data[i].openHourSunday + "  -  " + data[i].closeHourSunday + "</p>");
            newHours.append("<p> Mon:  " + data[i].openHourMonday + "  -  " + data[i].closeHourMonday + "</p>");
            newHours.append("<p> Tue:  " + data[i].openHourTuesday + "  -  " + data[i].closeHourTuesday + "</p>");
            newHours.append("<p> Wed:  " + data[i].openHourWednesday + "  -  " + data[i].closeHourWednesday + "</p>");
            newHours.append("<p> Thu:  " + data[i].openHourThursday + "  -  " + data[i].closeHourThursday + "</p>");
            newHours.append("<p> Fri:  " + data[i].openHourFriday + "  -  " + data[i].closeHourFriday + "</p>");
            newHours.append("<p> Sat:  " + data[i].openHourSaturday + "  -  " + data[i].closeHourSaturday + "</p>");

            let newSpecials = $("<td>");
            newSpecials.append("<p> Sun: " + data[i].specialSunday + "</p>");
            newSpecials.append("<p> Mon: " + data[i].specialMonday + "</p>");
            newSpecials.append("<p> Tue: " + data[i].specialTuesday + "</p>");
            newSpecials.append("<p> Wed: " + data[i].specialWednesday + "</p>");
            newSpecials.append("<p> Thu: " + data[i].specialThursday + "</p>");
            newSpecials.append("<p> Fri: " + data[i].specialFriday + "</p>");
            newSpecials.append("<p> Sat: " + data[i].specialSaturday + "</p>");

            let newRow = $("<tr>");
            newRow.data("id", data.businessName);
            newRow.append("<td>" + data[i].businessName + "</td>");
            newRow.append(newHours);
            newRow.append(newSpecials);
            $("tbody").append(newRow);
          };
        });
      };
    });
</script>