<div class="container">
    <div class="jumbotron">
        <h1 id="username-display" class="display-4">Username</h1>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal"
            data-target="#edit-account-modal">Edit Account</a>
    </div>
    <table id="user-bar-list" class="table table-hover table-dark">

        <thead>
            <tr>
                <th scope="col">Bar Name</th>
                <th scope="col">Opening Hours</th>
                <th scope="col">Special(s)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="bar-1-name">Name</td>
                <td id="bar-1-hours">Hours</td>
                <td id="bar-1-specs">Special(s)</td>
            </tr>
            <tr>
                <td id="bar-2-name">Name</td>
                <td id="bar-2-hours">Hours</td>
                <td id="bar-2-specs">Special(s)</td>
            </tr>
            <tr>
                <td id="bar-3-name">Name</td>
                <td id="bar-3-hours">Hours</td>
                <td id="bar-3-specs">Special(s)</td>
            </tr>
        </tbody>
    </table>
</div>

{{!-- start edit account modal --}}
<div class="container">
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true" id="edit-account-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Edit Your Account</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="edit-email" class="col-sm-2 col-form-label">Edit Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="edit-email" placeholder="Enter New Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="edit-password" class="col-sm-2 col-form-label">Edit Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="edit-password"
                                    placeholder="Enter New Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="edit-username" class="col-sm-2 col-form-label">Edit Username</label>
                            <div class="col-sm-10">
                                <input type="username" class="form-control" id="edit-username"
                                    placeholder="Enter New Username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="edit-phone" class="col-sm-2 col-form-label">Edit Phone</label>
                            <div class="col-sm-10">
                                <input type="phone" class="form-control" id="edit-phone" placeholder="(000)-000-0000">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button id="update-account-btn" type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                id="close-modal-btn">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
            
<script>
    $(document).ready(() => {
      console.log("User hbars script is working");
      getBars();
      function getBars() {
          $.get("/api/bars", data => {
            for (let i = 0; i < data.length; i++) {
                console.dir(data);
                let newRow  = $("<tr>");
                newRow.data("id", data.id);
                newRow.append("<td>" + data.name + "<td>");
                newRow.append("<td>" + data.hours + "<td>");
                newRow.append("<td>" + data.specials + "<td>");
                $("tbody").append(newRow);
            };
          });
      };
    });
</script>