<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Username</h1>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" role="button">Edit Account</a>
    </div>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Bar Name</th>
                <th scope="col">Opening Hours</th>
                <th scope="col">Special(s)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>Hours</td>
                <td>Special(s)</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Hours</td>
                <td>Special(s)</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Hours</td>
                <td>Special(s)</td>
            </tr>
        </tbody>
    </table>
</div>

